<app-navigation></app-navigation>
<router-outlet></router-outlet>



<div class="dashboard-content">

    <div class="student-container">
        <div class="label">Kursanci</div>

        <div class="icon">i</div>
        <div class="add-student">Dodaj Kursanta</div>

        <div class="icon">i</div>
        <div class="add-student" routerLink='/instructors'>Baza</div>

        <div class="icon">i</div>
        <div class="add-student">Szukaj</div>

    </div>

    <div class="instructor-container">
        <div class="label">Instruktorzy</div>

        <div class="icon">i</div>
        <div class="add-student">Dodaj instruktora</div>

        <div class="icon">i</div>
        <div class="add-student">Szukaj</div>
    </div>

    <div class="lesson-container">
        <div class="label">Lekcje</div>

        <div class="icon">i</div>
        <div class="add-student">Historia</div>
    </div>

    <div class="finance-container">
        <div class="label">Finanse</div>

        <div class="icon">i</div>
        <div class="add-student">Zestawienie dnia</div>

        <div class="icon">i</div>
        <div class="add-student">Historia</div>

        <div class="icon">i</div>
        <div class="add-student">Szukaj</div>
    </div>

</div>

