<div class="form-container">

  <div class="page-header">
    <h1>Nowy instruktor - formularz</h1>
    <span>Wyszarzone pola są opcjonalne</span>
  </div>

  <form #instructorForm="ngForm">
      <div [hidden]="formReady" class="form-parent">

        <div class="form-col-1">

          <div class="form-col-1-title">
            Dane kontaktowe
          </div>


          <div class="form-group">
            <label for="firstName" class="required-label">Imię *</label>
            <input type="text" inputmode="latin-name"
            required
            minlength="2"
            maxlength="30"
            ngModel
            name="firstName"
            #firstName="ngModel"
            id="name"
            class="form-control required-field"
            [class.is-valid]=firstName.valid
            [class.is-invalid]="!firstName.valid && firstName.touched">
            <div *ngIf="!firstName.valid && firstName.touched" >
                <span class="field-validation-error" *ngIf="firstName.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="lastName" class="required-label">Nazwisko *</label>
            <input  type="text" inputmode="latin-name"
            required
            minlength="2"
            maxlength="60"
            ngModel
            name="lastName"
            #lastName="ngModel"
            id="lastName"
            class="form-control required-field"
            [class.is-valid]=lastName.valid
            [class.is-invalid]="!lastName.valid && lastName.touched">
            <div *ngIf="!lastName.valid && lastName.touched" >
                <span class="field-validation-error" *ngIf="lastName.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="nickname">Ksywka</label>
            <input  type="text" inputmode="latin-name"
            minlength="2"
            maxlength="60"
            ngModel
            name="nickname"
            #nickname="ngModel"
            id="nickname"
            class="form-control not-required-field">
          </div>

          <div class="form-group">
            <label for="mobile" class="required-label">Telefon *</label>
            <input  type="text"
            inputmode="latin-name"
            required
            minlength="9"
            maxlength="20"
            ngModel
            name="mobile"
            #mobile="ngModel"
            id="mobile"
            class="form-control required-field"
            [class.is-valid]=mobile.valid
            [class.is-invalid]="!mobile.valid && mobile.touched">
            <div *ngIf="!mobile.valid && mobile.touched" >
                <span class="field-validation-error" *ngIf="mobile.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email</label>
            <input  type="text"
            inputmode="latin-name"
            minlength="2"
            maxlength="60"
            ngModel
            name="emailAddress"
            #emailAddress="ngModel"
            id="emailAddress"
            class="form-control not-required-field">
          </div>



          <div class="form-group">
            <label for="birthDate" class="required-label">Data urodzenia *</label>
            <input  type="text" placeholder="DD-MM-YYYY"
            required
            pattern="([3][0-1]|[1-2][0-9]|[0][1-9])-([1][0-2]|[0][1-9])-(19[0-9][0-9]|20[0-2][0-9])"
            ngModel
            name="birthDate"
            #birthDate="ngModel"
            id="birthDate"
            class="form-control required-field"
            [class.is-valid]=birthDate.valid
            [class.is-invalid]="!birthDate.valid && birthDate.touched">
            <div class="errors-div" *ngIf="!birthDate.valid && birthDate.touched" >
              <small class="field-validation-error" *ngIf="birthDate.errors.required">
                To pole jest wymagane
              </small>
              <small class="field-validation-error">Format: DD-MM-YYYY - np. 05-08-1993</small>
            </div>
          </div>



          <!-- END OF COL-1 -->
        </div>

        <div class="form-col-2">
          <div class="form-col-2-title">
            Kite dane
          </div>

          <div class="form-group">
            <label for="payRateSingle" class="required-label">
              Stawka indywidualna * <small>&ensp;zł/h</small>
            </label>
            <input  type="number"
            required
            ngModel
            name="payRateSingle"
            #payRateSingle="ngModel"
            id="payRateSingle"
            class="form-control required-field number-field"
            [class.is-valid]=payRateSingle.valid
            [class.is-invalid]="!payRateSingle.valid && payRateSingle.touched">
            <div *ngIf="!payRateSingle.valid && payRateSingle.touched" >
                <span class="field-validation-error" *ngIf="payRateSingle.errors.required">
                <small>Nieprawidłowe dane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="payRateGroup" class="required-label">
              Stawka grupowa * <small>&ensp;zł/h</small>
            </label>
            <input  type="number"
            required
            ngModel
            name="payRateGroup"
            #payRateGroup="ngModel"
            id="payRateGroup"
            class="form-control required-field number-field"
            [class.is-valid]=payRateGroup.valid
            [class.is-invalid]="!payRateGroup.valid && payRateGroup.touched">
            <div *ngIf="!payRateGroup.valid && payRateGroup.touched" >
                <span class="field-validation-error" *ngIf="payRateGroup.errors.required">
                <small>Nieprawidłowe dane</small></span>
            </div>
          </div>




          <div class="form-group">
            <label for="ikoId">Numer IKO</label>
            <input  type="text"
            inputmode="latin-name"
            ngModel
            name="ikoId"
            #ikoId="ngModel"
            id="ikoId"
            class="form-control not-required-field"
            [class.ng-valid]=ikoId.valid
            [class.is-invalid]="!ikoId.valid && ikoId.touched">
            <div *ngIf="!ikoId.valid && ikoId.touched" >
                <span class="field-validation-error" *ngIf="ikoId.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="ikoLevel">Poziom IKO</label>
            <select  type="text"
            inputmode="latin-name"
            ngModel
            name="ikoLevel"
            #ikoLevel="ngModel"
            id="ikoLevel"
            class="form-control not-required-field"
            [class.ng-valid]=ikoLevel.valid
            [class.is-invalid]="!ikoLevel.valid && ikoLevel.touched">
            <option value="Assistant">AITC - Assistant Instructor</option>
            <option value="Level 1">Instructor Level 1</option>
            <option value="Level 2">Instructor Level 2</option>
            <option value="Level 3">Instructor Level 3</option>
            <option value="Coach">Coach</option>

            </select>
          </div>

          <div class="form-group">
            <label for="dailyHourLimit">Dzienny limit godzin</label>
            <input  type="number"
            inputmode="latin-name"
            ngModel
            name="dailyHourLimit"
            #dailyHourLimit="ngModel"
            id="dailyHourLimit"
            class="form-control not-required-field number-field"
            [class.ng-valid]=dailyHourLimit.valid
            [class.is-invalid]="!dailyHourLimit.valid && dailyHourLimit.touched">
            <div *ngIf="!dailyHourLimit.valid && dailyHourLimit.touched" >
                <span class="field-validation-error" *ngIf="dailyHourLimit.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <div class="form-group">
            <label for="weight">Waga</label>
            <input  type="number"
            ngModel
            name="weight"
            #weight="ngModel"
            id="weight"
            class="form-control not-required-field number-field"
            [class.ng-valid]=weight.valid
            [class.is-invalid]="!weight.valid && weight.touched">
            <div *ngIf="!weight.valid && weight.touched" >
                <span class="field-validation-error" *ngIf="weight.errors.required">
                <small>To pole jest wymagane</small></span>
            </div>
          </div>

          <!-- END OF COL-2 -->
        </div>

        <div class="form-col-3">
          <div class="form-col-3-title">
            Szczegóły
          </div>

          <div class="form-group">
            <label for="availableFrom">Dostępny od <small>&ensp;[DD-MM-YYYY]</small></label>
            <input  type="text" placeholder="DD-MM-YYYY"
            pattern="([3][0-1]|[1-2][0-9]|[0][1-9])-([1][0-2]|[0][1-9])-(19[0-9][0-9]|20[0-2][0-9])"
            ngModel
            name="availableFrom"
            #availableFrom="ngModel"
            id="availableFrom"
            class="form-control not-required-field"
            [class.ng-valid]=availableFrom.valid
            [class.is-invalid]="!availableFrom.valid && availableFrom.touched">
            <div class="errors-div" *ngIf="!availableFrom.valid && availableFrom.touched" >
              <small class="field-validation-error">Format: DD-MM-YYYY - np. 05-08-1993</small>
            </div>
          </div>

          <div class="form-group">
            <label for="availableTo">Dostępny do <small>&ensp;[DD-MM-YYYY]</small></label>
            <input  type="text" placeholder="DD-MM-YYYY"
            pattern="([3][0-1]|[1-2][0-9]|[0][1-9])-([1][0-2]|[0][1-9])-(19[0-9][0-9]|20[0-2][0-9])"
            ngModel
            name="availableTo"
            #availableTo="ngModel"
            id="availableTo"
            class="form-control not-required-field"
            [class.ng-valid]=availableTo.valid
            [class.is-invalid]="!availableTo.valid && availableTo.touched">
            <div class="errors-div" *ngIf="!availableTo.valid && availableTo.touched" >
              <small class="field-validation-error">Format: DD-MM-YYYY - np. 05-08-1993</small>
            </div>
          </div>

          <div class="form-group radio-btn-group">
            <span>Zajęcia po angielsku</span>
            <input type="radio"
            value="True"
            ngModel
            name="englishLessons"
            #englishLessons="ngModel"
            id="englishLessons"
            class="form-control radio-btn"
            [class.is-valid]=englishLessons.valid
            [class.is-invalid]="!englishLessons.valid && englishLessons.touched" [checked]>
            <label for="active">Tak</label>

            <input type="radio"
            value="False"
            ngModel
            name="englishLessons"
            #englishLessons="ngModel"
            id="englishLessons"
            class="form-control radio-btn"
            [class.is-valid]=englishLessons.valid
            [class.is-invalid]="!englishLessons.valid && englishLessons.touched">
            <label for="active">Nie</label>

          </div>


          <div class="form-group radio-btn-group">
            <span>Zajęcia z dziećmi</span>
            <input type="radio"
            value="True"
            ngModel
            name="kidsLessons"
            #kidsLessons="ngModel"
            id="kidsLessons"
            class="form-control radio-btn"
            [class.is-valid]=kidsLessons.valid
            [class.is-invalid]="!kidsLessons.valid && kidsLessons.touched">
            <label for="active">Tak</label>

            <input type="radio"
            value="False"
            ngModel
            name="kidsLessons"
            #kidsLessons="ngModel"
            id="kidsLessons"
            class="form-control radio-btn"
            [class.is-valid]=kidsLessons.valid
            [class.is-invalid]="!kidsLessons.valid && kidsLessons.touched">
            <label for="active">Nie</label>

          </div>

          <div class="form-group radio-btn-group">
            <span>Zajęcia grupowe</span>
            <input type="radio"
            value="True"
            ngModel
            name="groupLessons"
            #groupLessons="ngModel"
            id="groupLessons"
            class="form-control radio-btn"
            [class.is-valid]=groupLessons.valid
            [class.is-invalid]="!groupLessons.valid && groupLessons.touched">
            <label for="active">Tak</label>

            <input type="radio"
            value="False"
            ngModel
            name="groupLessons"
            #groupLessons="ngModel"
            id="groupLessons"
            class="form-control radio-btn"
            [class.is-valid]=groupLessons.valid
            [class.is-invalid]="!groupLessons.valid && groupLessons.touched">
            <label for="active">Nie</label>

          </div>

          <div class="form-group radio-btn-group">
            <span>Aktywny</span>
            <input type="radio"
            value="True"
            ngModel
            name="active"
            #active="ngModel"
            id="active-yes"
            class="form-control radio-btn"
            [class.ng-valid]=active.valid
            [class.is-invalid]="!active.valid && active.touched">
            <label for="active">Tak</label>

            <input type="radio"
            value="False"
            ngModel
            name="active"
            #active="ngModel"
            id="active-no"
            class="form-control radio-btn"
            [class.ng-valid]=active.valid
            [class.is-invalid]="!active.valid && active.touched">
            <label for="active">Nie</label>

          </div>

        <!-- END OF COL-3 -->
        </div>


        <!--  -->
        <div class="form-buttons">
          <button type="submit"
          class="btn submit-btn"
          (click)="formReady=true; makeForm(instructorForm.value)"
          [disabled]="!instructorForm.form.valid"
          [class.btn-success]="instructorForm.form.valid">
          Zatwierdź
          </button>

          <button type="button"
          class="btn btn-default reset-btn"
          (click)="instructorForm.reset()">
          Reset
          </button>
        </div>

      </div>
                      <!-- CONFIRMED FORM -->
                                                      <!-- *ngIf="!formSubmitted" -->
      <div class="confirmed-form" [hidden]="!formReady || (formReady && formSubmitted)" >
          <h2>{{firstName.value}} {{lastName.value}}</h2>
          <div class="confirmed-form-fields">

              <div class="field">
                  <span>Data urodzenia:</span>
                  <span>{{ birthDate.value }}</span>
              </div>
              <div class="field">
                  <span>Waga:</span>
                  <span id="value">{{ weight.value }}</span>
              </div>
          </div>
          <div class="confirmed-form-buttons">
              <button type="button"
              class="confirmed-edit btn btn-labeled btn-primary"
              (click)="formReady=false">
                  <span class="btn-label">
                      <i class="fas fa-edit"></i>

                  </span>Zmień</button>

              <button type="button"
              class="confirmed-send btn btn-labeled btn-success"
              (click)="onSubmit(); instructorForm.reset()">
                  <span class="btn-label">
                      <i class="fas fa-check"></i>

                  </span>Zgadza się!</button>
          </div>
      </div>
  </form>


</div>

