/* :root{
  --elo: 30px;
} */

.instr-cell{
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
}

.lessons-time-grid{
  display: grid;
  /* grid-template-columns: repeat(28, 55px); */
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: 80px;

  grid-column: 2 / -1;
  grid-row: span 1;
  /* outline: 1px solid yellow; */

}



.background-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  grid-auto-flow: column;

  grid-column: 1/-1;
  grid-row: 1;

  /* overflow: hidden; */

}
/* Margin bot and top is related to schedule-row paddings */
.background-block{
  border-left: 1px solid rgb(136, 136, 136);
  border-bottom: 2px solid rgb(97, 94, 94);
  margin-bottom: -6px;
  margin-top: -5.5px;

}
.background-block:nth-child(odd){
  border-left: 1px solid rgb(0, 0, 0);
}
.background-block:last-child{
  border-right: 3px solid rgb(136, 136, 136);
}


.lesson-cell{
  /* display: grid; TEST */
  display: flex;
  flex-direction: column;
  place-content: space-between;

  grid-row: 1;
  grid-template-rows: auto auto;

  /* height: 100%; TEST */
  align-self: center;
  margin: 0 2px 0 2px;

  border-radius: 4px 4px;
  background-color: whitesmoke;

}

.lesson-header{
  position: relative;
  white-space: nowrap;
  display: grid;
  grid-auto-columns: min-content min-content auto;
  grid-template-rows: auto;

}
.lesson-inner-time{
  padding-left: 3px;
  grid-column: 1;
  margin-right: 8px;
}

.lesson-student{
  display: grid;
  grid-auto-flow: column;
  grid-column: 2;
  padding-left: 5px;
}
.lesson-student-name{

  font-size: 1rem;
  font-weight: bold;
  align-self: center;
  /* overflow: scroll; */
}
.lesson-student-lvl{
  align-self: center;
  padding-left: 7px;

}


.lesson-action{
display: grid;
grid-column: 3;
grid-row: 1;
height: fit-content;
width: 17px;
place-self: end;
place-content: center;
position: relative;
border-radius: 2px 3px 0px 2px;

}
.lesson-action:hover{
  /* background-color: #baa8fa; */
  background-color: #267dff;


}
.lesson-action-button{
  cursor: pointer;
}

.lesson-popover{
  /* width: 100px;
  height: 100px; */
  position: absolute;
}

.actionsMenu{
  position: absolute;
  visibility: hidden;
  left: 110%;
  top: -20%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(230, 243, 255);
  border: 3px solid rgb(0, 86, 214);

}

.actions-menu-item{
  padding: 2px 5px 0px 5px;
  margin: 3px 0 3px 0;
  cursor: pointer;
}

.actions-menu-item:hover{
  background-color: #b8d4fd;;
}

.action-icon{
  font-size: 1.2rem;
}

.confirm-lesson-icon{
  /* font-size: 1.7rem; */
  color: rgb(32, 161, 0);
}
/* .confirm-lesson-icon:hover{
  font-size: 1.6rem;
  color: rgb(34, 204, 0);
  cursor: pointer;
} */

.start-lesson-icon{
  /* font-size: 1.7rem; */
  color: rgb(209, 143, 0);
}
/* .start-lesson-icon:hover{
  font-size: 1.6rem;
  color: rgb(236, 173, 0);
  cursor: pointer;
} */

.pay-lesson-icon{
  /* font-size: 1.7rem; */
  color: rgb(27, 133, 0);
}
/* .pay-lesson-icon:hover{
  font-size: 1.6rem;
  color: rgb(17, 204, 0);
  cursor: pointer;
} */

.edit-lesson-icon{
  /* font-size: 1.7rem; */
  color: rgb(54, 54, 54);
}
/* .edit-lesson-icon:hover{
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
} */

.delete-lesson-icon{
  /* font-size: 1.7rem; */
  color: rgb(155, 0, 0);
}
/* .delete-lesson-icon:hover{
  font-size: 1.6rem;
  color: rgb(236, 22, 22);
  cursor: pointer;
} */



.lesson-info{
  display: flex;
  width: 100%;
  height: 25px;
  overflow: hidden;

  border-top: 1px solid black;
  background-color: rgb(230, 243, 255);
  border-radius: 0px 0px 3px 3px;
}
.lesson-info-smaller{
  display: flex;
  width: 100%;
  height: auto;

  overflow: hidden;
  border-top: 1px solid black;
  background-color: rgb(230, 243, 255);
  border-radius: 0px 0px 3px 3px;
}

/* .lesson-info-inProgress{
  border-radius: 0px 0px 3px 3px;
  animation: test 2300ms linear infinite;
}

@keyframes test {
  0% {
    background-color: rgba(226, 155, 0, 0.911);

    }
    50%{
      background-color: transparent;
    }
  100% {
    background-color: rgba(226, 155, 0, 0.911);
  }
} */

.lesson-info-paid{
  background-color: rgb(71, 170, 71);
  border-radius: 0px 0px 3px 3px;
}

.lesson-paid{
  border-radius: 7px 0px 0px 7px;
  background-color: #80e17c;
  padding: 2px 3px 2px 3px;
}


.lesson-info-item{
  padding-left: 3px;
  align-self: center;
}

/* .lesson-confirmed{
  align-self: end;
} */
.icon-confirmed{
  font-size: 19px;
  color: green;
  vertical-align: middle;
}
.icon-confirmed-smaller{
  font-size: 17px;
  color: green;
  vertical-align: middle;
}
.icon-not-confirmed{
  font-size: 19px;
  color: rgb(74, 74, 74);
  vertical-align: middle;
}
.icon-not-confirmed-smaller{
  font-size: 17px;
  color: rgb(74, 74, 74);
  vertical-align: middle;
}


.lesson-equipment{
  align-self: center;
  padding-left: 10px;
  font-size: 15px;
}
.lesson-equipment-smaller{
  align-self: center;
  padding-left: 5px;
  font-size: 0.8vw;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.kite-image{
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/kite-final.svg');
}

.kite-image-smaller{
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/kite-final.svg');
  background-size: 16px;
}

.board-image-smaller{
  height: 15px;
  width: 13px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/board.svg');
  background-size: 16px;
}



.board-image{
  height: 19px;
  width: 16px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/board.svg');
}

.spinner-container{
  width: 100%;
  place-content: end;
}


/* SPINNER if lesson in progress (Enable in template) */
.spinner{
  width: 20px;
  height: 20px;
  border-radius: 50%;

  /* background-color: orange; */

  border-top: 1px solid rgb(199, 96, 0);
  border-right: 1px solid rgb(199, 96, 0);

  animation: rotate 1700ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    background-color: rgba(224, 184, 98, 0.911);

    }
    50%{
      background-color: transparent;
      /* background-color: tr; */


      /* border-top: 4px solid green; */
    }
  100% {
    transform: rotate(360deg);
    background-color: rgba(224, 184, 98, 0.911);

    /* border-top: 2px solid yellow; */
  }
}

.lesson-in-progress{
  border-radius: 7px 0px 0px 7px;
  background-color: #f4d351;
  padding: 2px 3px 2px 3px;
}
