

<div class="instr-cell">

  <span>{{instructor.name}}</span>

</div>


<div class="lessons-time-grid" *ngIf="instructor">

  <div class="background-grid">
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>
  <div class="background-block"></div>

</div>
  <!-- ^([1-9][0-9]:[0-3]+) - Regexp for lesson time. ex. 12:30 -->
  <!-- (^[1-9][0-9]|(?<=0)[0-9]) - gets only first digits -->


  <div class="lesson-cell" #lessonCell *ngFor="let lesson of instructor.lessons"
    [style.grid-column]="(lesson.time | timeToPosition) + '/ span '+ (lesson.duration) * 6">

    <div class="lesson-header">
      <div class="lesson-inner-time" *ngIf="lesson.duration > 1">
        {{lesson.time | slice:0:5}}
      </div>

      <div class="lesson-student"
      *ngFor="let student of lesson.student">
      <div class="lesson-student-name">{{student.name}} {{student.surname[0]}}</div>
      <div class="lesson-student-lvl">lvl. {{student.iko_level}}</div>

      </div>

      <div class="lesson-action" >

        <div class="lesson-action-button"
          (click)="showLessonActionsMenu(actionsMenu)" >
          <mat-icon >more_vert</mat-icon>
        </div>

        <div #actionsMenu class="actionsMenu" >

          <div class="actions-menu-item" (click)="confirmLesson(lesson.id, lesson.status)">
            <fa-icon class="action-icon confirm-lesson-icon" title="Potwierdź"
            [icon]="faCheck">
            </fa-icon>
            Potwierdź
          </div>
          <div class="actions-menu-item"
          (click)="startLesson(lesson.id, lesson.in_progress)"
          [style.pointer-events]="lesson.status.includes('F') || lesson.status.includes('P') ? 'none': 'auto'">
            <fa-icon class="action-icon start-lesson-icon" title="Rozpocznij"
            [icon]="faStart">
            </fa-icon>
            Rozpocznij
          </div>

          <div class="actions-menu-item" (click)="finishLesson(lesson)">
            <fa-icon class="action-icon pay-lesson-icon"  title="Rozlicz"
            [icon]="faDollar">
            </fa-icon>
            Zakończ
          </div>

          <div class="actions-menu-item" (click)="editLesson(lesson)">
            <fa-icon class="action-icon edit-lesson-icon"  title="Edytuj"
            [icon]="faEdit">
            </fa-icon>
            Edytuj
          </div>

          <div class="actions-menu-item" (click)="confirmDelete(lesson)">
            <fa-icon class="action-icon delete-lesson-icon"  title="Usuń"
            [icon]="faTrash">
            </fa-icon>
            Usuń
          </div>
        </div>

      </div>
    </div>




    <!-- Lesson duration condition - if smaller width then smaller font size -->

    <div class="lesson-info" *ngIf="lesson.duration >= 1.5">

      <!-- NC - not confirmed  -->
      <div *ngIf="!lesson.status.includes('NC')"
      class="lesson-info-item lesson-confirmed">
      <fa-icon class="icon-confirmed" [icon]="faCheck"></fa-icon>
      </div>

      <div *ngIf="lesson.status.includes('NC')"
      class="lesson-info-item lesson-not-confirmed">
      <fa-icon class="icon-not-confirmed" [icon]="faQuestion"></fa-icon>
      </div>

      <div class="lesson-info-item lesson-equipment img-container"
      *ngIf="lesson.kite_brand">
        <div class="kite-image"></div>
        <span>{{lesson.kite_brand}}</span>
      </div>

      <div class="lesson-info-item lesson-equipment img-container"
      *ngIf="lesson.board">
        <div class="board-image"></div>
        <span>{{lesson.board}}</span>
      </div>

      <!-- SPINNER if lesson in progress -->

      <div class="lesson-info-item lesson-equipment img-container spinner-container"
      *ngIf="lesson.in_progress">
      <!-- <div class="spinner">W trakcie</div> -->
        <div class="lesson-in-progress">W trakcie</div>
      </div>

      <!-- F - finished -->
      <div class="lesson-info-item lesson-equipment img-container spinner-container"
      *ngIf="lesson.status.includes('F')">
      <!-- <div class="spinner">W trakcie</div> -->
        <div class="lesson-paid">Zakończona</div>
      </div>

    </div>
      <!-- else -->
    <div class="lesson-info-smaller" *ngIf="lesson.duration < 1.5"
      [class.lesson-info-paid]="lesson.paid"
      [class.lesson-info-inProgress]="lesson.in_progress">

      <div *ngIf="lesson.status == 'Potwierdzona'"
      class="lesson-info-item lesson-not-confirmed">
      <fa-icon class="icon-confirmed-smaller" [icon]="faCheck"></fa-icon>
      </div>
      <div *ngIf="lesson.status == 'Niepotwierdzona'"
      class="lesson-info-item lesson-not-confirmed">
      <fa-icon class="icon-not-confirmed-smaller" [icon]="faQuestion"></fa-icon>
      </div>

      <div class="lesson-info-item lesson-equipment-smaller img-container"
      *ngIf="lesson.kite_brand">
        <div class="kite-image-smaller"></div>
        <span>{{lesson.kite_brand}}</span>
      </div>

      <div class="lesson-info-item lesson-equipment-smaller img-container"
      *ngIf="lesson.board">
        <div class="board-image-smaller"></div>
        <span>{{lesson.board}}</span>
      </div>

    </div>

  </div>

</div>


