
<h2 mat-dialog-title>Edycja lekcji</h2>
<mat-dialog-content class="dialog-content">

  <form #editLessonForm="ngForm" class="dialog-form" autocomplete="off" id="lessonForm" #lessonForm="ngForm" >

    <div class="lesson-time-group">
      <div class="form-field date-field">
        <label for="date">Data</label>
        <input class="date-field-input"
        [ngModel]="data.date"
        type="datetime-local"
        required="true"
        name="date">
      </div>

      <div class="form-field time-field">
        <label for="time">Godzina lekcji</label>
        <input
        [ngModel]="data.time | slice:0:5"
        placeholder="np. 15:30"
        type="text"
        ngModel
        name="time">
      </div>

      <div class="form-field duration-field">
        <label for="duration">Czas [h]</label>
        <select
        [ngModel]="data.duration"
        name="duration">
        <option value="0.5">0.5</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
        </select>
      </div>
    </div>

    <div class="form-field student-field">
      <label for="student">Kursant</label>
      <input  #studentNameInput type="text" name="student"
      ngModel
      (input)="search(studentNameInput)" (focus)="search(studentNameInput)"
      (blur)="hideList()">

      <div class="search-list-container">
        <ul class="search-ul-Parent" *ngIf="studentsDropdownList.length">
          <li class="searchElement" *ngFor="let student of studentsDropdownList"
          (mousedown)="getNameValue(student, studentNameInput)">

              {{student.name}} {{student.surname}}

          </li>
        </ul>
      </div>
      <div class="student-display-list-div">
        <ul class="student-display-list">
          <li class="student-list-item" *ngFor="let stud of studentDisplayList">
            <span>{{stud.name}}</span>
            <fa-icon [icon]="faTimesIcon" (click)="removeStudent(stud.id)"></fa-icon>
          </li>
        </ul>
      </div>

    </div>

    <div class="form-field instructor-field">
      <label for="instructor">Instruktor</label>
      <input  #instructorNameInput type="text" name="instructor"
      ngModel
      (input)="search(instructorNameInput)" (focus)="search(instructorNameInput)"
      (blur)="hideList()">

      <div class="search-list-container">
        <ul class="search-ul-Parent" *ngIf="instructorsDropdownList.length">
          <li class="searchElement" *ngFor="let instructor of instructorsDropdownList"
          (mousedown)="getNameValue(instructor, instructorNameInput)">

              {{instructor.name}} {{instructor.surname}}

          </li>
        </ul>
      </div>
      <div class="instructor-display-list-div">
        <ul class="instructor-display-list">
          <li class="instructor-list-item" *ngFor="let instr of instructorDisplayList">
            <span>{{instr.name}}</span>
            <fa-icon [icon]="faTimesIcon" (click)="removeInstructor(instr.id)"></fa-icon>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="form-field status-field">
      <label for="status">Status</label>
      <input type="text"
      [ngModel]="data.status"
      class="dialog-dropdown"
      name="status"
      disabled>
    </div> -->

    <div class="form-field paid-field">
      <mat-checkbox
      [ngModel]="data.paid"
      name="paid">
      Zapłacona
      </mat-checkbox>
    </div>

    <hr>

    <div class="form-field equipment-field">
      <label for="equipment">Sprzęt</label>
      <select
      [ngModel]="data.equipment"
      class="dialog-dropdown"
      name="equipment">
        <option value="Szkółka">Szkółka</option>
        <option value="Własny">Własny</option>
      </select>
    </div>

    <div class="form-field comment-field">
      <label for="comment">Dodatkowe informacje</label>
      <textarea
      [ngModel]="data.comment"
      type="text"
      name="comment"></textarea>
    </div>


    <div class="form-field kite-field">
      <label for="kite_brand">Latawiec</label>
      <input
      [ngModel]="data.kite_brand"
      type="text"
      name="kite_brand">
    </div>

    <!-- <div>
      <label>Rozmiar</label>
      <input
      type="number"
      ngModel
      name="kite_size">
    </div> -->

    <div class="form-field board-field">
      <label for="board">Deska</label>
      <input
      [ngModel]="data.board"
      type="text"
      name="board">
    </div>

    <div class="dialog-action-buttons">
      <button mat-stroked-button type="button" class="cancel-button" (click)="exitDialog()">
        Anuluj
      </button>
      <button mat-stroked-button class="submit-button" (click)="editLesson(data.id, editLessonForm.value)">
        Zapisz
      </button>
    </div>
  </form>

</mat-dialog-content>
