

<!-- <div class="forecast" [innerHTML]="progno | safe: 'html'">

</div> -->

<!-- <div class="windguru-forecast" [outerHTML]="windguru2 | safe: 'html'">

</div> -->

<div class="icm-forecast">
  <!-- <h2>Prognoza ICM</h2> -->
  <img src="http://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate=2020052712&row=339&col=206&lang=pl">
  <span>
    <small>Prognoza została udostępniona nieodpłatnie przez serwis meteo.pl prowadzony przez ICM, Uniwersytet Warszawski.    </small>
  </span>
</div>

<div #forecast class="windguru-forecast">
  <!-- <h2>Prognoza Windguru</h2> -->


</div>
